body{
    background-color: #EACFF3;
  }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C9BBC8;
    padding: 10px 20px; /* Ajusta el relleno según sea necesario */
  }
  
  .navbar-title {
    font-size: 60px;
    color: #BA677E;
    margin-left: 10%;
  }
  
  .navbar-links {
    display: flex;
    margin-right: 20%;
    font-size: 40px;
    margin-top: 12px;
    
  }
  
  .navbar-link {
    margin-left: 20px; /* Ajusta el margen entre los enlaces */
    text-decoration: none;
    color: black;
    font-weight: bold;
    color: #BA677E;
    background-color: #EBD8DD;
  }
  
  .navbar-link:hover {
    text-decoration: underline;
  }


  .green-boxes-container {
    display: flex;
    justify-content: center;
    gap: 180px; /* Espacio entre las columnas izquierda y derecha */
    margin-top: 50px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 50px; /* Espacio entre los recuadros */
}

.green-box {
    background-color: #AAC9CE;
    color: #096372;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    font-size: 25px;
    width: 300px;
    height: 50px;
    word-wrap: break-word; /* Permite el ajuste de texto */
    white-space: pre-wrap; /* Permite el manejo de saltos de línea */
}

.footer{
    background-color: #C9BBC8;
    width: 100%;
    height: 300px;
    margin-bottom: 0px;
  }
  .contactenos{
    color: #BA677E;
    font-size: 40px;
    margin-left: 20px;
  }
  .Redes{
  margin-left: 60%;
  font-size: 40px;
  color:  #BA677E;
  margin-top: -245px;
  }
  .linea{
    width: 40px;
    height: 100%;
    margin-left: 55%;
    margin-top: -100px;
  }
  
  .tel{
    font-size: 20px;
  }
  .correo{
    font-size: 20px;
  }
  .dir{
    font-size: 20px;
  }
  .logos{
    margin-left: 58%;
    display: flex; 
    flex-direction: column;
    margin-top: -230px;
  }
  .facebook,
  .instagram,
  .twiter {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px; 
  }
  .facebook-text{
    margin-left: 65%;
    margin-top: -190px;
    font-size: 20px;
  }
  .instagram-text{
    margin-left: 65%;
    margin-top: 50px;
    font-size: 20px;
  }
  .twiter-text{
    margin-left: 65%;
    margin-top: 50px;
    font-size: 20px;
  }
  