body{
    background-color: #EACFF3;
  }
  h1{
    text-align: center;
    margin-top: 60px;
    color: #096372;
    font-size: 80px;
  }
  
  .contenedor {
    display: flex;
    align-items: center; 
    justify-content: center;
  }
  
  /*.correo-texto {
    margin-right: 150px; 
    font-size: 40px;
  }*/
  
  .correo1 {
    background-color: #AAC9CE;
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 20px;
    margin-left: 100px;
  }
  .contenedor1 {
    display: flex;
    align-items: center; 
    justify-content: center;
  }
  
  /*.contraseña-texto {
    margin-right: 80px; 
    font-size: 40px;
  }*/
  
  .contraseña {
    background-color: #AAC9CE;
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 20px;
    margin-left: 100px;
  }
  
  .contenedor3{
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-top: 100px;
  }
  .contenedor3 button.Cancelar {
    margin-left: 90px; 
  }
  
  .inicio{
    border: none;
    background-color:  #AAC9CE;
    width: 120px;
    font-size: 20px;
    border-radius: 10px;
    padding: 20px;
    color: #096372;
    cursor: pointer;
  }
  .Cancelar{
    border: none;
    background-color:  #AAC9CE;
    width: 120px;
    font-size: 20px;
    border-radius: 10px;
    padding: 20px;
    color: #096372;
    cursor: pointer;
  }