body{
    background-color: #EACFF3;
  }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C9BBC8;
    padding: 10px 20px; /* Ajusta el relleno según sea necesario */
  }
  
  .navbar-title {
    font-size: 60px;
    color: #BA677E;
    margin-left: 10%;
  }
  
  .navbar-links {
    display: flex;
    margin-right: 20%;
    font-size: 40px;
    margin-top: 12px;
    
  }
  
  .navbar-link {
    margin-left: 20px; /* Ajusta el margen entre los enlaces */
    text-decoration: none;
    color: black;
    font-weight: bold;
    color: #BA677E;
    background-color: #EBD8DD;
  }
  
  .navbar-link:hover {
    text-decoration: underline;
  }


  .content {
    text-align: center;
    margin-top: 50px;
}

.title {
    font-size: 60px;
    color: #096372;
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.profile-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.green-box {
    background-color: #AAC9CE;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    font-size: 20px;
    margin: 0 auto 20px auto;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.green-box.short {
    width: 300px;
    height: 20px;
}

.green-box.long {
    width: 400px;
    height: 20px;
}

.email {
    font-size: 20px;
    color: #000000;
    margin-bottom: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.user-data {
  background-color: #AAC9CE;
  color: #000000;
  border: 1px solid #AAC9CE;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: left; 
}

.user-data h2 {
  margin-bottom: 10px;
}

.edit-form {
  background-color: #AAC9CE;
  color: black;
  padding: 20px;
  border-radius: 15px;
  width: 400px;
  margin: 20px auto;
  text-align: left;
}

.edit-form h2 {
  text-align: center;
  font-size: 30px;
  color: #096372;
  margin-bottom: 20px;
}

.edit-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.edit-form label {
  font-size: 20px;
  margin-bottom: 5px;
}

.edit-form input[type="text"],
.edit-form input[type="email"] {
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid #C9BBC8;
  width: calc(100% - 24px); /* Ajusta el ancho para considerar el padding */
}

.edit-form button {
  background-color: #BA677E;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.edit-form button[type="submit"] {
  background-color: #096372;
}

.edit-form button:hover {
  background-color: #BA677E;
}

.edit-form button[type="button"] {
  background-color: #C9BBC8;
}

.edit-form button[type="button"]:hover {
  background-color: #AAB8C3;
}

.footer{
    background-color: #C9BBC8;
    width: 100%;
    height: 300px;
    margin-bottom: 0px;
  }
  .contactenos{
    color: #BA677E;
    font-size: 40px;
    margin-left: 20px;
  }
  .Redes{
  margin-left: 60%;
  font-size: 40px;
  color:  #BA677E;
  margin-top: -245px;
  }
  .linea{
    width: 40px;
    height: 100%;
    margin-left: 55%;
    margin-top: -100px;
  }
  
  .tel{
    font-size: 20px;
  }
  .correo{
    font-size: 20px;
  }
  .dir{
    font-size: 20px;
  }
  .logos{
    margin-left: 58%;
    display: flex; 
    flex-direction: column;
    margin-top: -230px;
  }
  .facebook,
  .instagram,
  .twiter {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px; 
  }
  .facebook-text{
    margin-left: 65%;
    margin-top: -190px;
    font-size: 20px;
  }
  .instagram-text{
    margin-left: 65%;
    margin-top: 50px;
    font-size: 20px;
  }
  .twiter-text{
    margin-left: 65%;
    margin-top: 50px;
    font-size: 20px;
  }
  